@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sheila", sans-serif;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ************************************************************** ここから ********************************************************************* */

html {
    scroll-behavior: smooth;
}

body {
    background: #dddddd;
}

.work_one_job {
    background-color: #a6b6bd;
    width: 100%;
}

.work_moji {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.pc_flame_work {
    padding-bottom: 20px;
    font-size: 50px;
    font-family: 游明朝;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.make_work {
    padding-bottom: 100px;
    font-size: 20px;
    font-family: 游ゴシック;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.job_work {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.job_work img {
    padding-bottom: 70px;
    width: 80%;
}

li img {
    margin: 0 30px;
}

.job_work li:last-child {
    margin-right: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-rounded {
    display: block;
    max-width: 65px;
    max-height: 65px;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 50%;
    background: #fcfff4;
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#fcfff4),
            color-stop(40%, #dfe5d7),
            to(#b3bead));
    background: -webkit-linear-gradient(top,
            #fcfff4 0%,
            #dfe5d7 40%,
            #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -webkit-box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
        0 6px 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
        0 6px 10px rgba(0, 0, 0, 0.2);
}

a.btn-rounded i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a.btn-rounded:hover {
    -webkit-box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
        0 3px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
        0 3px 7px rgba(0, 0, 0, 0.2);
}

a.btn-rounded:hover i {
    bottom: 6px;
}

.fa-position-bottom {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 0.5rem);
}

.bt_cafe {
    text-align: center;
    position: absolute;
    top: 280px;
    left: 270px;
    width: 20%;
    z-index: 5000;
}

.work_btn {
    display: flex;
    flex-direction: column;
    position: relative;
}

.bt_cafe_work {
    transition: 500ms ease all;
    outline: none;
    font-family: 游明朝;
    width: 50%;
    height: 50%;
    line-height: 1em;
    font-size: 15px;
    display: block;
    background: #6b809e;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.bt {
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.back_work {
    transition: 500ms ease all;
    outline: none;
    font-family: 游明朝;
    max-width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 0.1em;
    display: block;
    background: #6b809e;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.back_work:hover {
    background: #bdd2e0;
    color: #6b82a8;
}

.two_work {
    text-align: center;
    width: 100%;
    background: #dddddd;
}

.toi_work {
    padding: 100px 0 50px;
    font-size: 40px;
    font-family: 游明朝;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #717ada;
}

.sigoto_work {
    color: #717ada;
    font-size: 20px;
    font-family: 游ゴシック;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.irai_work {
    color: #717ada;
    font-size: 20px;
    font-family: 游ゴシック;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.work_bt {
    margin-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.two_work_bt {
    transition: 500ms ease all;
    outline: none;
    font-family: 游明朝;
    max-width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    display: block;
    background: #6b809e;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.work_bt .two_work_bt:hover {
    background: #bdd2e0;
    color: #6b82a8;
}

.work_footer {
    text-align: center;
    margin: 0 auto;
}

.work_footer_logo {
    padding-bottom: 60px;
    width: 40%;
    display: inline-block;
}

.work_last {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 游明朝;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #000000;
}

.sp_bt {
    display: none;
}

.sp_back_work {
    display: none;
}

.sp_work_bt {
    display: none;
}

.sp_two_work_bt {
    display: none;
}

/* ********************************************************  スマホ版  *************************************************************** */

@media screen and (max-width:660px) {
    .pc_flame_work {
        padding-bottom: 10px;
        font-size: 8vw;
        font-family: 游明朝;
        font-weight: normal;
        letter-spacing: 0.1em;
        color: #ffffff;
        width: 100%;
    }

    .make_work {
        width: 100%;
        padding-bottom: 50px;
        font-size: 3vw;
        font-family: 游ゴシック;
        font-weight: normal;
        letter-spacing: 0.1em;
        color: #ffffff;
    }

    *,
    *:before,
    *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    html {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 62.5%;
    }

    .btn,
    a.btn,
    button.btn {
        font-size: 1rem;
        font-weight: 600;
        line-height: 2;
        position: relative;
        display: inline-block;
        padding: 1rem 4rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #212529;
        border-radius: 0.5rem;
    }

    a.btn-rounded {
        display: block;
        max-width: 65px;
        height: 65px;
        padding: 15px 0;
        border-radius: 50%;
        background: #fcfff4;
        background: -webkit-gradient(linear,
                left top,
                left bottom,
                from(#fcfff4),
                color-stop(40%, #dfe5d7),
                to(#b3bead));
        background: -webkit-linear-gradient(top,
                #fcfff4 0%,
                #dfe5d7 40%,
                #b3bead 100%);
        background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        -webkit-box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
            0 6px 10px rgba(0, 0, 0, 0.2);
        box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
            0 6px 10px rgba(0, 0, 0, 0.2);
    }

    a.btn-rounded i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    a.btn-rounded:hover {
        -webkit-box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
            0 3px 7px rgba(0, 0, 0, 0.2);
        box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
            0 3px 7px rgba(0, 0, 0, 0.2);
    }

    a.btn-rounded:hover i {
        bottom: 6px;
    }

    .fa-position-bottom {
        position: absolute;
        bottom: 1rem;
        left: calc(50% - 0.5rem);
    }

    .bt_cafe {
        text-align: center;
        position: relative;
        top: -18%;
        left: 28%;
        width: 40%;
        z-index: 5000;
    }

    .work_btn {
        display: flex;
        flex-direction: column;
        margin: 0 auto -20px;
    }

    .bt_cafe_work {
        transition: 500ms ease all;
        outline: none;
        font-family: 游明朝;
        width: 30%;
        height: 30%;
        line-height: 2em;
        font-size: 15px;
        letter-spacing: 0.01em;
        display: block;
        background: #6b809e;
        color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        margin: 0 auto;
    }

    .bt {
        display: none;
    }

    .sp_bt {
        margin-top: 50px;
        padding-bottom: 100px;
        text-align: center;
        display: block;
    }

    .back_work {
        display: none;
    }

    .sp_back_work {
        transition: 500ms ease all;
        outline: none;
        font-family: 游明朝;
        width: 60%;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        letter-spacing: 0.1em;
        display: block;
        background: #6b809e;
        color: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        display: block;
    }

    .two_work {
        text-align: center;
    }

    .toi_work {
        padding: 80px 0 30px;
        font-size: 40px;
        font-family: 游明朝;
        font-weight: normal;
        letter-spacing: 0.1em;
        color: #717ada;
    }

    .sigoto_work {
        color: #717ada;
        font-size: 20px;
        font-family: 游ゴシック;
        font-weight: normal;
        line-height: 1.66em;
        letter-spacing: 0.1em;
        padding-bottom: 30px;
    }

    .irai_work {
        color: #717ada;
        font-size: 20px;
        font-family: 游ゴシック;
        font-weight: normal;
        letter-spacing: 0.1em;
    }

    .work_bt {
        display: none;
    }

    .sp_work_bt {
        margin-top: 100px;
        padding-bottom: 120px;
        text-align: center;
        display: block;
    }

    .two_work_bt {
        display: none;
    }

    .sp_two_work_bt {
        transition: 500ms ease all;
        outline: none;
        font-family: 游明朝;
        width: 60%;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        letter-spacing: 0.1em;
        display: block;
        background: #6b809e;
        color: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        display: block;
    }

    .work_footer {
        text-align: center;
        margin: 0 auto;
    }

    .work_footer_logo {
        padding-bottom: 60px;
        width: 50%;
        display: inline-block;
    }

    .work_last {
        padding-bottom: 10px;
        font-size: 1vw;
        font-family: 游明朝;
        font-weight: normal;
        letter-spacing: 0.1em;
        color: #000000;
    }
}