@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sheila", sans-serif;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}


/* ************************************************************** ここから ********************************************************************* */

html {
    scroll-behavior: smooth;
}

body {
    background: #dddddd;
}

.batsu {
    text-align: center;
    margin: 0 auto;
    font-family: 游明朝;
    width: 500px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 0.3em;
    font-size: 30px;
    display: block;
    background: #6b82a8;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 130px;
    border: none;
    margin-top: 70px;
    background: #6b82a8;
    color: #ffffff;
    border: none;
    position: relative;
    transition: 500ms ease all;
    outline: none;
}

.batsu:hover {
    background: #bdd2e0;
    color: #6b82a8;
}

.design_cafe {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.cafe_work {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.work_design {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
}


@media screen and (max-width:1500px) {
    .batsu {
        text-align: center;
        margin: 0 auto;
        font-family: 游明朝;
        width: 400px;
        height: 50px;
        line-height: 50px;
        letter-spacing: 0.2em;
        font-size: 25px;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 130px;
        border: none;
        margin-top: 70px;
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        transition: 500ms ease all;
        outline: none;
    }

    .batsu:hover {
        background: #bdd2e0;
        color: #6b82a8;
    }
}

@media screen and (max-width:1100px) {
    .batsu {
        text-align: center;
        margin: 0 auto;
        font-family: 游明朝;
        width: 350px;
        height: 50px;
        line-height: 50px;
        letter-spacing: 0.15em;
        font-size: 23px;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 130px;
        border: none;
        margin-top: 70px;
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        transition: 500ms ease all;
        outline: none;
    }

    .batsu:hover {
        background: #bdd2e0;
        color: #6b82a8;
    }
}

@media screen and (max-width:800px) {
    .batsu {
        text-align: center;
        margin: 0 auto;
        font-family: 游明朝;
        width: 300px;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.1em;
        font-size: 20px;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 130px;
        border: none;
        margin-top: 70px;
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        transition: 500ms ease all;
        outline: none;
    }

    .batsu:hover {
        background: #bdd2e0;
        color: #6b82a8;
    }
}

@media screen and (max-width:400px) {
    .batsu {
        text-align: center;
        margin: 0 auto;
        font-family: 游明朝;
        width: 230px;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.05em;
        font-size: 16px;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 130px;
        border: none;
        margin-top: 70px;
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        transition: 500ms ease all;
        outline: none;
    }

    .batsu:hover {
        background: #bdd2e0;
        color: #6b82a8;
    }
}

@media screen and (max-width:250px) {
    .batsu {
        text-align: center;
        margin: 0 auto;
        font-family: 游明朝;
        width: 130px;
        height: 25px;
        line-height: 25px;
        letter-spacing: 0.05em;
        font-size: 13px;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 130px;
        border: none;
        margin-top: 70px;
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        transition: 500ms ease all;
        outline: none;
    }

    .batsu:hover {
        background: #bdd2e0;
        color: #6b82a8;
    }
}